html {
  scroll-behavior: smooth;
}

body {
  background-color: var(--page-bg);
  color: var(--text-color);
  font-family: var(--font-main);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

img {
  display: block;
}

.title-1 {
  color: var(--text-color);
  font-size: 72px;
  font-weight: 700;
  font-style: normal;
  line-height: normal;

  &--decor {
    position: relative;
  }

  &--decor::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    width: 268px;
    height: 24px;
    background-image: url(./../img/underline.svg);
    background-repeat: no-repeat;
    z-index: -1;
  }
}

.text {
  color: var(--text-color-second);
  font-size: 18px;
  font-weight: 450;
  font-style: normal;
  line-height: 150%;

  p + p {
    margin-top: 1em;
  }
}
