.card-review {
  margin: 0 10px 0 10px;
  display: flex;
  gap: 32px;
  flex-direction: column;
  align-items: flex-start;
  align-self: stretch;
  padding: 32px;
  border-radius: 8px;
  background: #fff;
  box-shadow: 0px 4px 10px 0px rgba(23, 28, 31, 0.23);
}

.card-review__rating {
  display: flex;
  gap: 4px;
}

.card-review__text {
  color: var(--text-color-second);
  font-size: 16px;
  font-weight: 450;
  font-style: normal;
  line-height: 150%; /* 24px */
}

.card-review__author {
  display: flex;
  align-items: center;
  gap: 16px;
}

.card-review__author-img {
  border-radius: 100px;
  // border-radius: 50%;
}

.card-review__author-name {
  font-size: 16px;
  font-weight: 500;
  font-style: normal;
  line-height: 150%; /* 24px */
}

.card-review__author-role {
  color: var(--text-color-second);
  font-size: 16px;
  font-weight: 450;
  font-style: normal;
  line-height: 150%; /* 24px */
}
