.footer {
  padding: 80px 0;
  background-color: var(--text-color);
  color: #fff;

  a {
    color: #fff;
  }
}


.footer__row {
  // display: flex;
  // justify-content: space-between;
  // align-items: flex-start;
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: start;
  gap: 128px;
}

.footer__copyright {
  display: grid;
  gap: 24px;
  max-width: 300px;
}

.footer__nav {
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: start;
  gap: 40px;
}