.footer {
  padding: 80px 0;
  background-color: var(--text-color);
  color: #fff;

  a {
    color: #fff;
  }

  @include mediaMobile {
    padding: 10px;
  }
}

.footer__row {
  // display: flex;
  // justify-content: space-between;
  // align-items: flex-start;
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: start;
  gap: 128px;

  @include mediaMobile {
    grid-template-columns: 1fr;
    gap: 20px;
  }
}

.footer__copyright {
  display: grid;
  gap: 24px;
  max-width: 300px;

  @include mediaMobile {
    max-width: unset;
    gap: 10px;
  }
}

.footer__nav {
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: start;
  gap: 40px;

  @include mediaMobile {
    grid-row: -1/1;
    gap: 10px;
  }
}
