.partners {
  padding: 60px 0;
}

.partners__row {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 30px;
}

.partners__title {
  color: var(--text-color-second);
  font-size: 24px;
  font-weight: 500;
  font-style: normal;
  line-height: 140%;
}

.partners__content {
  display: flex;
  align-items: center;
  gap: 32px;
}