.popular {
  padding: 60px 0;
}

.popular__top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 30px;
  margin-bottom: 32px;

  @include mediaMobile {
    flex-direction: column;
  }
}

.popular__title {
  display: grid;
  gap: 16px;

  @include mediaMobile {
    gap: 4px;
  }
}

.popular__controls {
  display: flex;
  gap: 15px;
  flex-shrink: 0;
}


// .popular__slider {
//   display: flex;
//   gap: 32px;
// }