.subscribe {
  padding: 80px 0;
  background-color: var(--accent);
  overflow: hidden;

  @include mediaTablet {
    padding: 40px 0;
  }

  @include mediaMobileXS {
    padding: 10px 0;
  }
}

.subscribe__row {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 50px;
  padding-left: 180px;

  &::before {
    content: "";
    position: absolute;
    left: -80px;
    top: -85px;
    width: 236px;
    height: 273px;
    background-image: url("./../img/subscribe-pin-bg.svg");
    background-repeat: no-repeat;

    @include mediaMobile {
      display: none;
    }
  }

  @include mediaTablet {
    flex-direction: column;
    align-items: center;
    text-align: center;

    &::before {
      top: -60px;
    }
  }

  @include mediaMobile {
    padding: 0;
  }

  @include mediaMobileXS {
    gap: 20px;
  }
}

.subscribe__desc {
  display: grid;
  gap: 4px;
}

.subscribe__title {
  color: #fff;
  font-size: 28px;
  font-weight: 500;
  font-style: normal;
  line-height: normal;

  @include mediaMobileXS {
    font-size: 22px;
  }
}

.subscribe__text {
  color: #f0f0f0;
  font-size: 20px;
  font-weight: 450;
  font-style: normal;
  line-height: normal;

  @include mediaMobileXS {
    font-size: 16px;
  }
}

.subscribe__form {
  flex-grow: 1;
}
