// Base
@import "./base/reset";
@import "./base/vars";
@import "./base/base";
@import "./base/utils";
@import "./base/containers";
@import "./base/sticky-footer";

// sassGlob могу так:
// @import "./blocks/*.scss";

@import "./blocks/header";
@import "./blocks/footer";
@import "./blocks/nav";
@import "./blocks/btn-login";
@import "./blocks/btn-signup";
@import "./blocks/discover";
@import "./blocks/form";
@import "./blocks/hint-discover";
@import "./blocks/scroll-discover";
@import "./blocks/partners";
@import "./blocks/popular";
@import "./blocks/card";
@import "./blocks/testimonials";
@import "./blocks/card-review";
@import "./blocks/subscribe";
@import "./blocks/subscribe-form";
@import "./blocks/footer-nav";

// * {
//   box-sizing: border-box;
// }

// body {
//   background-image: url("./../img/1.jpg");
//   background-size: cover;
// }

// .container {
// }